Beverly is one of the 77 community areas of Chicago, Illinois. It is located on the South Side on the southwestern edge of the city. The borders are (roughly) 87th Street on the north; Bevery Avenue, Hale Avenue and Vincennes Road on the east; 107th Street on the south; and Francisco Avenue and Western Avenue on the west. A segment of the eastern part of the Ridge Country Club lies with the boundaries of the community. Sparsely settled in the middle of the 19th century, Beverly began to be developed by business interests from Chicago[3] in the latter part of the nineteenth century, encouraged largely by the completion in 1889 of the suburban line of the Rock Island Railroad that runs parallel with the eastern edge of the Blue Island ridge (see the Ulrich & Son ad that appears elsewhere in this article). The natural beauty of its position on the ridge allowed the community to become an exclusive streetcar suburb, and the homes and large lots reflect this historic distinction. Beverly is located on the highest elevation in Chicago,[4] and is one of the most racially and ethnically diverse neighborhoods in the city[citation needed].

<p><%= @neighborhood.name %></p>


