// Place all the styles related to the Neighborhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.neighborhood_container {
  margin-top: 30px;
  position: center;
  padding: 40px;
  width: 100%;
  background-color: ghostwhite;
  border-radius: 2px;
}

.main-title {
  position: center;
}

.image-grid img {
 margin-top: 20px;
 border-bottom: 10px;
 border-bottom-color: #333366;
 width: 60%;
 height: auto;
}


.list-container {
  position: center;
  width: 100%;
}

.profile-pic {
  left: 100%;
  border-radius: 10px;
}

.profile-row {
  float: left;
  margin: 15px;
  position: relative;
  padding: 30px;
  border: solid 5px #333366;
  background-color: ghostwhite;
  border-radius: 10px;
  border-spacing: 10px;
  list-style: none;
  width: 30%;
  height: auto;
}


.profile-row li {
  position: relative;
  display: inline-block;
}

.profile-row img {
   position: relative;
  display: inline-block;
}

.name {
  font-size: 35px;
  position: relative;
/*  left: 25%;
  bottom: 85%*/
}

.instrument {
  padding: 10px;
  position: relative;
  left: 25%;
  bottom: 70%
}

.skills {
  padding: 20px;
 /* left: 25%;
  bottom: 70%*/
}

.skills {
  padding: 10px;
  font-size: 20px;
  font-style: bold;
}

.genres {
  font-size: 20px;
  font-style: bold;
}