// Place all the styles related to the Neighborhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.neighborhood_container {
  margin-top: 40px;
  position: center;
  padding: 40px;
  width: 100%;
  background-color: ghostwhite;
  border-radius: 2px;
}

.main-title {
  position: center;
}

/*.image-grid {
   margin-top: 20px;
   border-bottom: 10px;
   border-bottom-color: 333366;
}*/

.small-block-grid li{
  display: inline-block;
}

.list-container {
  background-color: CCCCCC;
  position: center;
  width: 80%;

}