.public-container {
  margin: 8px;
  margin-top: 55px;
}

.public-user-left-container {
  position: absolute;
  height: 700px;
  padding: 5px;
  width: 20%;
  background-color: ghostwhite;
  border-radius: 2px;
}

.public-user-left-container img {
  margin: 15px auto;
  padding: 4px;
  border: 2px solid #CCCCCC;
  border-radius: 2px;
  background-color: ghostwhite;
}

.public-user-left-container textarea {
  margin: auto;
  width: 220px;
}

.public-user-right-container {
  float:right;
  width: 79%;
  height: 700px;
  background-color: ghostwhite;
}

.public-user-right-container h1{
  padding-left: 40px;
  font-size: 3em;
  }

.signup_form{
	margin-top: 130px;
  margin-left: 400px;
  margin-right: 400px;
	border: 2px solid black;
  border-radius: 20px;
  background-color: #333366;
}
.signup_field{
  border-radius: 30px;
  margin-bottom: -10px;
  padding-right: 30px;
  padding-left: 30px;
}
.signup_field1{
  margin-top:15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom:-20px;
}
h3{
  text-align:center;
  color: white;
}
h4{
  text-align:center;
  color: white;
}
.signup_button{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 15px;
}
.signup_field2{
  border-radius: 30px;
  margin-bottom: -20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top:-20px;
}
.signup_field3{
  margin-top: -18px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: -20px;
}
