.user-show-container {
  margin-top: 55px;
  width: 100%;
  height: 100%;
  min-width: 1200px;
}

.user-top-left-container{
  position: absolute;
  float:left;
  width: 70%;
  min-width: 850px;
  height: 300px;
  background-color: ghostwhite;
  margin: 10px;
  border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px 2px #BABABA;
       -moz-box-shadow: 0px 0px 4px 2px #BABABA;
            box-shadow: 0px 0px 4px 2px #BABABA;
}

.profile-pic img{
  position: relative;
  float:left;
  margin: 20px;
  border-radius: 10px;
  padding: 4px;
  border: 2px solid #CCCCCC;
  background-color: ghostwhite;
}

.profile-info{
  position: relative;
  float:left;
  margin: 20px;
}

.description {
  position: relative;
  float:left;
  color: #A8A8A8;
}

.user-top-right-container{
  position: relative;
  float:right;
  width: 28%;
  min-width: 340px;
  height: 300px;
  background-color: ghostwhite;
  margin: 10px;
  border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px 2px #BABABA;
       -moz-box-shadow: 0px 0px 4px 2px #BABABA;
            box-shadow: 0px 0px 4px 2px #BABABA;
}

.musical-info li{
  padding: 5px 20px;
  margin:5px 20px;
}

.user-bottom-container{
  position:relative;
  float:left;
  margin: 0px 10px 10px 10px;
  width: 99%;
  height: 70%;
  background-color: ghostwhite;
  border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px 2px #BABABA;
       -moz-box-shadow: 0px 0px 4px 2px #BABABA;
            box-shadow: 0px 0px 4px 2px #BABABA;
}

.user-bottom-container textarea{
  margin:40px auto;
  width: 95%;
  border-radius: 8px;
  height: 100px;
  color: #BABABA;
    -webkit-box-shadow: 0px 0px 4px 2px #D4D4D4;
       -moz-box-shadow: 0px 0px 4px 2px #D4D4D4;
            box-shadow: 0px 0px 4px 2px #D4D4D4;
}

<<<<<<< HEAD
.signup_form{
	margin-top: 130px;
  margin-left: 400px;
  margin-right: 400px;
	border: 2px solid black;
  border-radius: 20px;
  background-color: #333366;
}
.signup_field{
  border-radius: 30px;
  margin-bottom: -10px;
  padding-right: 30px;
  padding-left: 30px;
}
.signup_field1{
  margin-top:15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom:-20px;
}
.signup_container h3{
  text-align:center;
  color: white;
}
.signup_container h4{
  text-align:center;
  color: white;
}
.signup_button{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 15px;
}
.signup_field2{
  border-radius: 30px;
  margin-bottom: -20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top:-20px;
}
.signup_field3{
  margin-top: -18px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: -20px;
=======
.user-bottom-container a{
  float:right;
  margin: 0px 50px;
  padding: 8px;
  border-radius: 6px;
>>>>>>> 1656cd00e288a34c80d129df027b33580127e9a5
}

